.DS_Store
Contrib
DerivedData
Pods
kraftstoff.xcodeproj/xcuserdata
kraftstoff.xcodeproj/project.xcworkspace/xcuserdata
kraftstoff.xcworkspace/xcuserdata

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
